<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="main-container">
        <div class="left-container">
            <div class="profile-container">
                <div class="pfp">
                    <%= pfp %>
                </div>
                <span><%= user.username %></span>
                <img src="/images/exit.svg" alt="">
            </div>
            <div class="sections-list">
                <div class="section">
                    <span>home</span>
                </div>
                <div class="section">
                    <span>profile</span>
                </div>
                <div class="section">
                    <span>credits</span>
                </div>
            </div>
        </div>
        <div class="middle-container">
            <div class="post-container">
                <div class="outer-pfp">
                    <div class="pfp post-pfp">
                        <%= pfp %>
                    </div>
                </div>
                <form action="/post" method="POST">
                    <textarea type="text" name="tweet" class="post-input" placeholder="say something..."></textarea>
                    <div class="outer-post">
                        <img src="/images/emoji.svg" alt="" onclick="alert('emoji')" class="emoji-btn"><button type="submit" class="post-btn">post</button>
                    </div>
                </form>
            </div>
            <!--
            
                <div class="post">
                    <div class="pfp">
                        :)
                    </div>
                    <div class="content">
                        <strong>post.user</strong>
                        post.content
                        <div class="reactions">
                            <img src="/images/heart.svg" alt="" onclick="sendLike(this)">0
                            <img src="/images/repost.svg" alt="">0
                            <span class="hidden post-id">post.id</span>
                        </div>
                    </div>
                </div>

            -->
            <div class="general-post-container">

            </div>
        </div>
        <div class="right-container">
            <div class="rounded-container">
                <h4>check out the github repo for this project!</h2><br>
                <p>see the link below for the source code:</p>
                <a href="https://github.com/domincmd/z">domincmd's github</a>
            </div>
            <div class="rounded-container">
                <h4>about z</h2><br>
                <p>z is fully a passion project and inspired on X (or twitter). feel free to browse around and thank you for visiting!</p>
                <a href="https://github.com/domincmd/z">domincmd's github</a>
            </div>
        </div>
    </div>
</body>
<script>
    const generalPostContainer = document.querySelector(".general-post-container")

    function getLikes(id, user) { //in this case, user refers to the user viewing the post, to see if he has liked it or not
        return fetch("/likes", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                post_id: id,
                username: user
            })
        }).then(res => res.json());
    }

    function getAuthorAndContent(id) {
        return fetch("/authorcontent", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                post_id: id
            })
        }).then(res => res.json());
    }

    function renderPost(id=1, user="domin") { //id of the post

        if (isNaN(id)) {console.error("id is not a nubmer!"); return}

        //build element

        const post = document.createElement("div")
        const pfp = document.createElement("div")
        const contentContainer = document.createElement("div")
        const reactions = document.createElement("div")

        const strong = document.createElement("strong")
        const content = document.createElement("span")

        content.textContent = "TESTCONTENT123123"
        strong.textContent = "TESTNAME"

        post.classList.add("post")
        pfp.classList.add("pfp")
        contentContainer.classList.add("content-container")
        reactions.classList.add("reactions")

        pfp.textContent = ":)"

        contentContainer.appendChild(strong)
        contentContainer.appendChild(content)
        contentContainer.appendChild(reactions)
        post.appendChild(pfp)
        post.appendChild(contentContainer)

        //get and insert data

        const requests = [
            getLikes(id, user),
            getAuthorAndContent(id),
        ];
        
        Promise.all(requests)
        .then(results => {
            console.log(results);

            content.textContent = results[1].content
            strong.textContent = results[1].user

            generalPostContainer.appendChild(post)
        });

        
    }
    
</script>
</html>