@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
       url('/fonts/JetBrainsMono-Bold.woff2') format('woff2'),
       url('/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2'),
       url('/fonts/JetBrainsMono-Italic.woff2') format('woff2'),
       url('/fonts/JetBrainsMono-SemiBold.woff2') format('woff2'),;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'JetBrains Mono';
}

:root {
    --background: #0B090A;
    --background-highlight: #161A1D;
    --background-accent: #878787;
    --dark-red: #660708;
    --red: #BA181B;
    --light-red: #E5383B;
    --text: #fff;
}

body {
    background: var(--background);
    color: var(--text);
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.rounded-container {
    border: 1px solid var(--background-accent);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 20px;
}

a {
    color: var(--light-red);
}